$breakpoint-sm: 40rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;
$breakpoint-2xl: 96rem;

@mixin media-sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin media-2xl {
  @media screen and (min-width: $breakpoint-2xl) {
    @content;
  }
}

@mixin media-max-sm {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-max-md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-max-lg {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-max-xl {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin media-max-2xl {
  @media screen and (max-width: $breakpoint-2xl) {
    @content;
  }
}
