DOCKER_BUILDKIT=1

# PostgreSQL
POSTGRES_DB=library_service_db
POSTGRES_USER=library
POSTGRES_PASSWORD=postgres

# Ports configuration
# Dev ports (если есть конфликты меняй)
POSTGRES_PORT=5433
BACKEND_PORT=8000
FRONTEND_PORT=5173
# Prod port (nginx)
# используем 5173 тк int.istu.edu редиректит именно на него
LIBRARY_PORT=5173

# Django
DJANGO_SECRET_KEY="mycrazysecret"
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD="mycrazypassword"

# Services
OPAC_HOSTNAME="https://library.istu.edu/opac"
# Hostname без протокола - для Django ALLOWED_HOSTS
SERVICE_HOSTNAME="localhost"
# Полный URL с протоколом - для Django CSRF_TRUSTED_ORIGINS
SERVICE_CSRF_HOSTNAME="http://localhost:5173"

# OAuth
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

OPAC_INTERNAL_TOKEN=