DOCKER_BUILDKIT=1

POSTGRES_DB=library_service_db
POSTGRES_USER=library
POSTGRES_PASSWORD=postgres

LIBRARY_PORT=8080
DJANGO_SECRET_KEY="mycrazysecret"

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD="mycrazypassword"

OPAC_HOSTNAME="https://library.istu.edu/opac"
SERVICE_HOSTNAME="http://localhost:8000"
SERVICE_CSRF_HOSTNAME="http://localhost:5173"

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

OPAC_INTERNAL_TOKEN=